<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <center>
          <a href="{{ site.baseurl }}/">
            <img src="{{site.baseurl}}/public/crowdai.png"/>
          </a>
        </center>
      </h1>
      <center>
        <p class="lead">{{ site.description }}</p>
      </center>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = "Approach|Setup|Code|Conclusion" | split:"|" %}

      {% for item in pages_list %}
        {% for _page in site.pages %}
          {% if item == _page.title %}
              <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ _page.url | prepend: site.baseurl }}"> {{_page.title}}</a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </nav>

    <!-- <p> Author :  <a href="http://twitter.com/MeMohanty">@MeMohanty</a> </p> -->
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
